/* PC */
@media (min-width: 48.0625em){
    .sidebar-container .mobile-sidebar{
        display: none;
    }
}

/* PHONE <=740px */ 
@media (max-width: 48em){

    .header-user-form .user-info, .header-title, .header-user-form .head-icon-menu{
        display: none;   
    }
    .header-container, .body-main{
        flex-direction: row-reverse;
    }

    .header-sinhvien{
        margin-left: auto;
        margin-right: auto;
        padding-right: 50px;
        font-size: larger;
        
    }
    .header-user-form{
        margin-left: 5px;
    }
    .user-menu{
        position: absolute;
        top: 50px;
        left: 0;
        right: -130px;
        border-radius: 5px;
    }
    .user-menu a{
        margin:0;
    }
    /* sidebar */
    .sidebar-container{
        width: 40px;
        border-left: 3px solid #212b42;
        position: relative;
    }
    .sidebar-info .avatar.close{
        width: 29px;
        height: 28px;
        position: relative;
        top: 4px;
        right: 5px;
    }
    .mobile-sidebar{
        display: block;
    }
    .sidebar-container .hiden-mobile, .PC-sidebar{
        display: none;
    }
    
    /* end sidebar */
    .wrap-content{
        padding: 0;
        /* order: 1; */
    }
}
